
@media only screen and (max-width: 1024px){
    .details{
        left: 50rem;
        font-size: 50%;
    }
}

@media only screen and (max-width: 768px){
    html{
        font-size: 50%;
    }
    .mobile{
        display: none;
    }
    #header{
        position: relative;
        height: 75vh;
        background-size: cover;
        overflow: hidde;
        border: none;
        background-image: url(https://p16-va-default.akamaized.net/obj/tos-maliva-p-0068/31dd7e458bd584a7e1ce978673292ea2);
        background-size: cover;
    }
    #header .container{
        animation: animate 150s ease-in-out infinite;
    }
    .darkOverlay{
        background-color: rgba(0, 0, 0, 0.404);
    }
    .details{
        z-index: 1;
        position: absolute;
        bottom: 9rem;
        left: 2.5rem;
    }
    .me{
        width: 38rem;
        position: absolute;
        bottom: 0;
        left: -15rem;
    }
    .name{
        padding-bottom: 1rem;
        padding-left: 9rem;
    }
    .title{
        font-size: 7.2rem;
    }
    .subTitle{
        font-size: 1.8rem;
    }
    .sign{
        margin-top: 1rem;
        margin-bottom: -2rem;
    }
    .contactBtn{
        font-size: 2rem;
        padding: .5rem 2rem;
        transition: .5s;
    }


    /* ABOUT SECTION */
    #about{
        transform: skew(0deg, 8deg);
        z-index: 1;
        position: relative;
        margin-top: -30px;
        border: 5px solid #298dff88;
        border-top: 5px solid #060c21;
        background-position: center;
        background-size: cover;
    }
    #about .naimTitle{
        text-shadow: 2px 2px 3px rgb(65, 60, 60);
    }
    #about .container{
        transform: skew(0deg, -8deg);
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    .messageBtn{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: -63px;
        display: grid;
    }
    .messageBtn li{
        list-style-type: none;
    }
    .messageBtn li a img{
        text-decoration: none;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        background-color: rgba(226, 226, 226, 0.712);
        padding: 5px;
        border: 5px solid rgb(255, 255, 255);
        transition: .2s;
    }
    /* SKILL SECTION */
    #skill{
        transform: skew(0deg, 8deg);
        z-index: 1;
        background: linear-gradient(rgb(255, 255, 255),rgba(255, 255, 255, 0.9)), url(../images/bg10.jpg) center;
        border: 5px solid rgba(0, 255, 221, 0.418);
    }
    #skill .naimTitle{
        text-shadow: 1px 1px 3px rgb(65, 60, 60);
    }
    #skill .container{
        transform: skew(0deg, -8deg);
    }
    #skill .col-md-3{
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
        margin: 5px 20px;
        padding: 5px;
    }
    #skill .col-md-3:hover{
        box-shadow: none;
    }
    #skill .col-md-3 h2{
        font-size: 3.4rem;
    }




    /* SKILL SECTION */
    #paralux{
        transform: skew(0deg, 8deg);
        z-index: 1;
    }
    #paralux .container{
        transform: skew(0deg, -8deg);
        background-image: url(../images/12.jpg);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: right bottom;
    }





    /* PORTFOLIO SECTION */
    #portfolio{
        transform: skew(0deg, 8deg);
        z-index: 1;
        border: 5px solid rgba(51, 255, 78, 0.541);
    }
    #portfolio .container{
        transform: skew(0deg, -8deg);
    }
    #portfolio .naimTitle{
        text-shadow: 1px 1px 3px rgb(65, 60, 60);
    }
    .img{
        width: 100%;
        height: 70vh;
    }
    #portfolio .row h2{
    font-family: aladin;
    font-size: 2.8rem;
}
#portfolio p{
    font-family: aladin;
    font-size: 1.8rem;
    padding-left: 5rem;
    padding-top: 3rem;
}
#portfolio img{
    width: 45rem;
    height: auto;
    transition: .5s;
}
#portfolio img:hover{
    transform: scale(1.1);
    position: absolute;
    z-index: 5;
}
.img{
    width: 100%;
    height: 127rem;
}
.portfolio1{
    position: absolute;
    top: 0rem;
}
.portfolio2{
    position: absolute;
    top: 29rem;
    left: 2rem;
}
.portfolio3{
    position: absolute;
    top: 64rem;
    left: 2rem;
}
.portfolio4{
    position: absolute;
    bottom: 0rem;
    left: 2rem;;
}




       /* CONTACT SECTION */
    #contact{
        transform: skew(0deg, 8de);
        padding-bottom: 50px;
        z-index: 1;
        margin-top: -50px;

    }
    #contact .naimTitle{
        text-shadow: 2px 2px 3px rgb(158, 157, 157);
    }
    #contact .container{
        transform: skew(0deg, -8de);
        margin: 10rem 0;
    }
    /* SOCIAL MENUE */
    .sIDV{
        display: none;
    }
    .overlay-div{
        display: block;
        text-align: center;
        position: relative;
    }
    .social-Icon .fab, .fas, .far{
        background-color: rgb(255, 255, 255);
        display: inline-block;
        color: rgb(0, 155, 245);
        font-size: 4rem;
        width: 14vw;
        text-align: center;
        padding: 2rem;
    }






    /* @media only screen and (max-width: 556px){
        html{
            font-size: 55%;
        }
        .me{
            width: 40rem;
        }
    } */



    @media only screen and (max-width: 580px){
        html{
            font-size: 50%;
        }
        .me{
            width: 35rem;
        }
    }




    @media only screen and (max-width: 480px){
        html{
            font-size: 50%;
        }
        .me{
            width: 38rem;
        }
    }




    @media only screen and (max-width: 380px){
        html{
            font-size: 45%;
        }
        .me{
            width: 35rem;
        }
    }




    @media only screen and (max-width: 320px){
        html{
            font-size: 38%;
        }
    }



    @keyframes animate{
        /* nature */
        0%{
            background-image: url(https://wallpaperboat.com/wp-content/uploads/2020/06/04/42814/leaf-29.jpg);
            background-position: left;
        }
        10%{
            background-image: url(https://wallpaperboat.com/wp-content/uploads/2020/06/04/42814/leaf-29.jpg);
            background-position: center;
        }
        20%{
            background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/green-leaf_VM8Z129TS0.jpg);
            background-position: center left;
        }
        30%{
            background-image: url(https://external-preview.redd.it/8JIjlY9SMiNLPON5y5HDFFu8NB2rRIXggvxPrbI_z-8.jpg?auto=webp&s=b089ae7049c1740a3d3c0544625d99471de8dece);
            background-position: left right;
        }
        40%{
            background-image: url(https://images6.alphacoders.com/923/923690.jpg);
            background-position: center right;
        }
        50%{
            background-image: url(https://images.pexels.com/photos/50594/sea-bay-waterfront-beach-50594.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
            background-position: center left;
        }
        60%{
            background-image: url(https://images.pexels.com/photos/2308885/pexels-photo-2308885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
            background-position: center;
        }
        70%{
            background-image: url(https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AAI3C0c.img?h=630&w=1200&m=6&q=60&o=t&l=f&f=jpg);
            background-position: left;
        }
        80%{
            background-image: url(https://cutewallpaper.org/21/seven-wonder-of-the-world-pictures/A-colossal-statue-of-Jesus-Christ-on-top-of-Mount-Corcovado-in-Rio-de-Janeiro.CreditCreditAndy-CaulfieldGetty-Images.jpg);
            background-position: center;
        } 
        90%{
            background-image: url(https://nypost.com/wp-content/uploads/sites/2/2018/08/great-wall-china-airbnb-sweepstakes-scrapped.jpg?quality=80&strip=all);
            background-position: center;
        }
        100%{
            background-image: url(https://wallpaperboat.com/wp-content/uploads/2020/06/04/42814/leaf-29.jpg);
            background-position: center left;
        }
    }
}