@import url(https://fonts.googleapis.com/css2?family=Aladin&family=Atomic+Age&family=Great+Vibes&family=Nova+Square&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #060c21;
}
body{
    font-family: sans-serif;
    position: relative;
}
.naimTitle{
    font-size: 4.2rem;
    font-family: atomic age;
    text-decoration: underline;
    position: relative;
}
/* START HEADER SECTION */
#header{
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 85vh;
    background-image: url(https://static.wixstatic.com/media/8d317d_7fd1a23ad6884291b844dc13c66f1601~mv2.jpg/v1/fit/w_2500,h_1330,al_c/8d317d_7fd1a23ad6884291b844dc13c66f1601~mv2.jpg);
    background-size: cover;
    overflow: hidden;
    max-height: 600px;
    border-bottom: 5px solid rgb(255, 230, 91);
}
#header .mainContainer{
    width: 100%;
    height: 100%;
    animation: animate 150s ease-in-out infinite;
    background-size: cover;
}
.darkOverlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.568);
}
.details{
    line-height: 1;
    position: absolute;
    left:72rem;
    bottom: 7rem;
}
.name{
    font-size: 2.4rem;
    color: rgba(8, 255, 8, 0.685);
    font-family: 'Nova Square', cursive;;
    padding-bottom: 4rem;
    text-shadow: 2px 2px 3px rgba(5, 167, 32, 0.63);
}
.title{
    font-size: 7.2rem;
    color: rgba(255, 255, 255, 0.65);
    font-family: 'Aladin', cursive;; 
    line-height: .8;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(139, 136, 136, 0.774);
}
.subTitle{
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.678);
    font-family: 'Nova Square', cursive;;
    margin-top:2px;
}
.sign{
    font-size: 4.2rem;
    font-family: Great Vibes;
    padding-top: 1.2rem;
    color: rgba(255, 255, 255, 0.308);
    font-weight: 900;
    padding-bottom: 1.5rem;
    text-shadow: 1px 1px 9px rgba(255, 255, 255, 0.719);
    text-shadow: none;
}
.contactBtn{
    font-size: 1.6rem;
    color: #fff;
    font-family: 'Nova Square', cursive;;
    padding: .5rem 2rem;
    transition: .5s;
    background-color: #0000000a;
    border: .1rem solid #fff;
}
.contactBtn:hover{
    background-color: rgba(41, 44, 41, 0.541);
}
.me{
    width: 30rem;
    position: absolute;
    bottom: 0;
    left: 10rem;
}
/* END HEADER SECTION */



/* START ABOUT SECTION */
#about{
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.897),rgba(255, 255, 255, 0.883)), url(../images/bg4.jpg) center;
    background-size: cover;
    position: relative;
    margin-top: -30p;
    border-bottom: 5px solid rgb(255, 230, 91);
}
.messageBtn{
    display: none;
}
#about h3{
    font-family: aladin;
    font-size: 3.2rem;
}
#about p{
    font-size: 2rem;
    font-family: aladin;
}
/* END ABOUT SECTION */


/* START SKILL SECTION */
#skill{
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)), url(../images/bg10.jpg) center;
    background-size: cover;
    position: relative;
    border-bottom: 5px solid rgb(255, 230, 91);
}
#skill .container{
    padding-top: 3rem;
    padding-bottom: 5rem;
}
#skill .naimTitle{
    margin-bottom: 6rem;
}
#skill .row h2{
    font-family: atomic age;
    font-size: 2.4rem;
}
svg.radial-progress {
    height: auto;
    max-width: 200px;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%;
  }
  svg.radial-progress text{
      font-family: atomic age;
  }
  
  svg.radial-progress circle {
    stroke-dashoffset: 219.91148575129; 
    stroke-width: 10;
  }
  
  svg.radial-progress circle.incomplete { opacity: 0.25; }
  
  svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }
  
  svg.radial-progress text {
    fill: rgb(77, 74, 74);
    text-anchor: middle;
  }
  
  .bar1 circle{
    stroke: rgb(0, 247, 255);
  }
  .bar2 circle{
    stroke: rgb(28, 255, 7);
  }
  .bar3 circle{
    stroke: rgb(255, 18, 223);
  }
  .bar4 circle{
    stroke: rgb(255, 18, 18);
  }
/* END SKILL SECTION */






/* START PARALUX SECTION */
#paralux{
    background-color: rgb(24, 56, 126);
    height: 70vh;
 
}
/* END PARALUX SECTION */


/* START PORTFOLIO SECTION */
#portfolio{
    background: linear-gradient(#e8e9fde7,rgba(215, 251, 218, 0.911)), url(../images/bg9.jpg) center;
    background-size: cover;
    position: relative;
    border-bottom: 5px solid rgb(255, 230, 91);
}
#portfolio .naimTitle{
    margin-bottom: 6rem;
}
#portfolio .row h2{
    font-family: aladin;
    font-size: 2.8rem;
}
#portfolio p{
    font-family: aladin;
    font-size: 1.8rem;
    padding-left: 5rem;
    padding-top: 3rem;
}
#portfolio img{
    width: 250px;
    height: 170px;
    transition: .5s;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.74);
}
#portfolio img:hover{
    transform: scale(1.1);
    position: absolute;
    z-index: 5;
}
.img{
    width: 100%;
    height: 39rem;
}
.portfolio1{
    position: absolute;
    top: 2rem;
    left: 2rem;
}
.portfolio2{
    position: absolute;
    top: -5rem;
    right: 3.5rem;
}
.portfolio3{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}
.portfolio4{
    position: absolute;
    bottom: 9rem;
    right: 3.5rem;
}
/* END PORTFOLIO SECTION */





/* START PORTFOLIO SECTION */
#contact{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.486),rgba(5, 0, 0, 0.8)), url(../images/bg3.jpg);
    background-size: cover;
    background-position: center;
    background-position: center;
}
#contact .naimTitle{
    color: #fff;
    margin-bottom: 5rem;
}
#contact .form-control{
    padding: 2rem;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.726);
    font-size: 1.8rem;
    color: #fff;
    font-family: aladin;
}
#contact .btn{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: ;
    color: #fff;
    margin-left: 50%;
    transform: translatex(-50%);
    padding: .5rem 4rem;
    border: 1px solid;
}
/* END PORTFOLIO SECTION */




/* SOCIAL ICON */
.sIDV .social-Icon{
    position: fixed;
    top: 50vh;
    transform: translatey(-50%);
    z-index: 1;
    left: 1rem;
}
.sIDV .social-Icon a{
    text-decoration: none;
}
.social-Icon .fab, .fas, .far{
    background-color: rgba(255, 255, 255, 0.644);
    font-size: 3rem;
    width: 5rem;
    text-align: center;
    align-items: center;
    padding: 1rem;
    display: block;
    border-top: .1rem solid rgba(206, 200, 200, 0.575);
    transition: .5s;
    color: rgba(49, 53, 54, 0.219);
}
.social-Icon .fab:hover,
.social-Icon  .fas:hover,
.social-Icon .far:hover{
    transform: scale(1.2);
    background-color: #fff;
    color: rgb(0, 155, 245);
}







/*  */
svg.radial-progress {
    height: auto;
    max-width: 200px;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%;
  }
  
  svg.radial-progress circle {
    fill: rgba(0,0,0,0);
    stroke-dashoffset: 219.91148575129; 
    stroke-width: 10;
  }
  
  svg.radial-progress circle.incomplete { opacity: 0.25; }
  
  svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }
  
  svg.radial-progress text {
    fill: rgb(19, 1, 1);
    text-anchor: middle;
  }
  
  .bar1 circle{
    stroke: rgb(0, 247, 255);
  }
  .bar2 circle{
    stroke: rgb(28, 255, 7);
  }
  .bar3 circle{
    stroke: rgb(255, 18, 223);
  }
  .bar4 circle{
    stroke: rgb(255, 18, 18);
  }
/*  */





@keyframes animate{
    0%{
        background-image: url(https://wallpaperboat.com/wp-content/uploads/2020/06/04/42814/leaf-29.jpg);
        background-position: center;
    }
    10%{
        background-image: url(https://wallpaperboat.com/wp-content/uploads/2020/06/04/42814/leaf-29.jpg);
        background-position: bottom;
    }
    20%{
        background-image: url(https://images6.alphacoders.com/923/923690.jpg);
        background-position:center;
    }
    30%{
        background-image: url(https://external-preview.redd.it/8JIjlY9SMiNLPON5y5HDFFu8NB2rRIXggvxPrbI_z-8.jpg?auto=webp&s=b089ae7049c1740a3d3c0544625d99471de8dece);
        background-position: top center;
    }
    40%{
        background-image: url(https://images7.alphacoders.com/899/thumb-1920-899775.jpg);
        background-position: bottom top;
    }
    50%{
        background-image: url(https://images.pexels.com/photos/50594/sea-bay-waterfront-beach-50594.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-position: left bottom;
    }
    60%{
        background-image: url(https://images.pexels.com/photos/2308885/pexels-photo-2308885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-position:center;
    }
    70%{
        background-image: url(https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AAI3C0c.img?h=630&w=1200&m=6&q=60&o=t&l=f&f=jpg);
        background-position: bottom;
    }
    80%{
        background-image: url(https://cutewallpaper.org/21/seven-wonder-of-the-world-pictures/A-colossal-statue-of-Jesus-Christ-on-top-of-Mount-Corcovado-in-Rio-de-Janeiro.CreditCreditAndy-CaulfieldGetty-Images.jpg);
        background-position: center bottom;
    } 
    90%{
        background-image: url(https://nypost.com/wp-content/uploads/sites/2/2018/08/great-wall-china-airbnb-sweepstakes-scrapped.jpg?quality=80&strip=all);
        background-position: center top;
    }
    100%{
        background-image: url(https://wallpaperboat.com/wp-content/uploads/2020/06/04/42814/leaf-29.jpg);
        background-position: center;
    }
}