nav{
    background-color: rgba(0, 0, 0, 0.445);
    overflow: hidden;
    padding: 0px 150px;
    transition: 1s;
    z-index: 9;
    position: absolute;
    width: 100%;
    margin-top: 10px;
}


/* LOGO SECTION */
.logo img{
    width: 40px;
    float: left;
    padding: 2px;
    transition: .5s;
    position: absolute;
}
.logo{
    transition: 1s;
}
.logo:hover{
    padding-left: 90px;
}
.overlay-content .overlay-logo{
    position: absolute;
    width: 100%;
    left: 42%;
    top: 50px;
}
.overlay-content .overlay-logo img{
    width: 15%;
    display: block;
    transition: 5s;
}
.overlay-content .overlay-logo img:hover{
    width: 5%;
}


/* MAIN NAVIGATION SECTION */
nav ul{
    float: right;

}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 0px;
}
nav ul li:hover a{
    background-color: rgba(3, 2, 56, 0.76);
    font-size: 2.4rem;
}
nav ul li a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: atomic age;
    transition: .5s;
}



/* STICKY NAVIGATION MENUE */
.sticky{
    position: fixed;
    width: 100%;
    transition: ease-in-out;
    margin-top: 0px;
}


/* MOBILE MENU */
.mobile-menu .hbm{
    font-size: 3.2rem;
    color: #fff;
    float: right;
    text-decoration: none;
}
.closeBtn{
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
    text-decoration: none;
    float: right;
    padding-top: 5px;
    padding-right: 30px;
}
.overlay{
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.911);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}
.overlay-content{
    width: 100%;
    text-align: center;
    margin: 150px 0;
    padding: 0px 50px;
}
.overlay-content a{
    color: #fff;
    font-size: 3rem;
    display:block;
    padding: 5px 20px;
    text-decoration: none;
    transition: .5s;
    border: 1px solid #333;
    margin-bottom: 5px;
}
.overlay-content a:hover{
    background-color: rgba(0, 0, 0, 0.781);
}



@media (max-width:556px){

    nav ul{
        display: none;
    }
    .mobile-menu span{
        display: inline-block;
        margin-top: 0px;
        padding: 0px;
    }
    nav{
        margin-top: 0px;
        padding: 10px 30px;
    }
}



/* OVERLAY DIV */
.overlay-div{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 255, 0.116);
}